<% provide(:title, 'About') %>
<h4>About the journal</h4>
<br>
<b>Scope</b><br>
The scope of the journal is to publish reports on recent developments in
fundamental and applied research in the fields of phase diagrams, synthesis,
crystal structures, physical properties, etc. The focus will be on metals,
alloys and intermetallic compounds, but the journal will also include papers on
related compounds such as hydrides, inorganic compounds, organometallics, etc.<br>
<br>
<b>Periodicity</b><br>
Planned periodicity is four issues per year. The first issue should be released
on-line and as hardcopy in March 2008.<br>
<br>
<b>Language</b><br>
English or Ukrainian.<br>
<br>
<b>Price</b><br>
Publication is free of charge. Access to the on-line version of the journal,
including download of pdf files of the complete paper and supplementary material
will be free of charge. The price of hardcopies is not yet fixed.<br>
<br>
<b>Submission of manuscripts</b><br>
Scientists from any country are kindly invited to submit manuscripts on topics
within the scope of the journal by e-mail or ordinary mail to the journal
address. The manuscripts will be refereed under the responsibility of an
international <a href="editors.htm">Editorial board</a> and will receive proofs
within a delay not exceeding 6 months if accepted. Please consult the
<a href="guidelines.htm">Guidelines for authors</a>.<br>
<br>
<b>Supporting information</b><br>
Supplementary information such as cif files may be provided with the manuscript
and will be stored on the website of the journal.<br>

