<% provide(:title, 'Home') %>
<div class="span7">
  <i>Dear Scientists,<br>
	<br>
	Two years have already passed since the first issue of Chemistry of Metals
	and Alloys was published in March 2008. Although this time is not sufficient
	to make global conclusions, we wanted to trace some of the most remarkable
	trends. <br>
	<br>
	Almost 100 contributions have been published during the first two years. The
	geography of the authors covers a wide range, including Ukraine, Austria,
	Canada, China, Czech Republic, Egypt, France, Germany, Italy, Japan, KSA,
	Poland, Portugal, Russia, Slovenia, Sweden, Switzerland, USA. We are happy
	to see that most of the papers were the result of fruitful international
	collaboration involving leading scientific research centers all over the
	world. <br>
	We were glad to meet many of our authors at scientific forums held in Lviv,
	such as the International Conference on Crystal Chemistry of Intermetallic
	Compounds. Materials of the 9<sup>th</sup> and 10<sup>th</sup> editions have
	been published in Chemistry of Metals and Alloys. Currently, the proceedings
	of the 11<sup>th</sup> International Conference on Crystal Chemistry of
	Intermetallic Compounds are in press and the proceedings of the 16<sup>th</sup>
	International Seminar on Physics and Chemistry of Solids are in preparation,
	and are planned to be published in December 2010 and June 2011, respectively.
	<br>
	Among the topics covered by Chemistry of Metals and Alloys the most popular
	issue is crystal structure determination. Over 40% of the published reports
	deal with crystal structures of novel compounds. Albeit the majority of
	these papers concern structures of intermetallic compounds, there are also
	reports on coordination compounds, oxides, hydrides, sulfides, etc. In most
	cases X-ray single-crystal or powder diffraction was applied, but for a
	number of compounds complementary methods such as neutron diffraction,
	metallography, etc. were used. Another popular field covered by Chemistry of
	Metals and Alloys is the investigation of phase diagrams. In approximately
	every fourth paper phase diagrams or phase equilibria are discussed. Many
	papers published in Chemistry of Metals and Alloys also contain data on
	physical properties of reported compounds. Magnetic properties, transport
	properties, and optical properties have been discussed for a number of
	compounds, alloys or nanomaterials. <br>
	Despite the title, we would not like the journal to be focused exclusively
	on intermetallic compounds and crystal chemistry. We are thus glad to see
	that a number of reports on analytical chemistry, physical chemistry,
	organometallic chemistry, and theoretical physics were among the
	publications. <br>
	Among other achievements, we would like to mention that in May 2009
	Chemistry of Metals and Alloys was included in the official list of journals
	of the High Attestation Commission of Ukraine. Recently, a few more experts
	in different fields accepted to join the editorial board.<br>
	Hence, we encourage you to submit papers to Chemistry of Metals and Alloys,
	and on our side we commit ourselves to trying to make the publication
	process convenient for the authors and the journal interesting for the
	reader.<br>
	<br>
	<br>
	Roman GLADYSHEVSKII<br>
	Editor-in-chief<br>
	<br>
	Khrystyna MILIYANCHUK<br>
	Managing editor<br>
	 </i><br /><br>
<br>
<b>Corresponding address</b><b><br>
Chemistry of Metals and Alloys</b><br>
Faculty of Chemistry<br>
Ivan Franko National University of Lviv<br>
Kyryla i Mefodiya St.
6<br>
UA-79005 Lviv<br>
Ukraine<br>
Tel. +380 32 2600388<br>
<a href="mailto:chemetal@lnu.edu.ua">chemetal@lnu.edu.ua</a>
</div>
<div class="span5">
  ISSN 1998-8079 (print), ISSN 1998-8087 (online)<br>
  <%= image_tag('logo2.jpg') %>
</div>