<% provide(:title, 'Papers in preparation') %>
<h1>Papers in preparation</h1>

<% @journals.each do |journal| %>

  <%= render "journals/caption", journal: journal %>

  <table class="table table-hover">
    <% if can?(:manage, Journal) %>
      <%= render journal.articles %>
    <% else %>
      <%= render journal.articles.visible %>
    <% end %>
  </table>

<% end %>
