<% provide(:title, 'Journals Index') %>
<h1>Journals Index</h1>
<table>
  <thead>
    <tr>
      <td>Volume</td>
      <td>Issue</td>
      <td>Pages</td>
      <td>Month</td>
      <td>Year</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </thead>

  <%= render @journals %>

</table>

<%= link_to 'Create new journal', new_journal_path %>
