<% provide(:title, "Volume #{@journal.volume}, Issue #{@journal.issue}, #{@journal.month} #{@journal.year}") %>

<%= render "journals/caption", journal: @journal %>

<table class="table table-hover">
  <%= render @articles %>
</table>



