<% provide(:title, "Volume #{@journal.volume}, Issue #{@journal.issue}, #{@journal.month} #{@journal.year}") %>
<%= link_to 'Back to journals index', journals_path %>
<h1><%= "Volume #{@journal.volume}, Issue #{@journal.issue}, #{@journal.month} #{@journal.year}" %></h1>

<%= render @articles %>

<%= link_to 'add new article to journal', new_journal_article_path(@journal) %>
