<div class="container-fluid">
  <div class="red-line"></div>
  <div class="row-fluid">
    <div class="span4 valign-middle">
      <span class="pull-left"><%= image_tag("logo.jpg") %></span>
    </div>
    <div class="span6 valign-middle">
      <h4>An international journal published by<br>
		  IVAN FRANKO NATIONAL UNIVERSITY OF LVIV</h4>
    </div>
    <div class="span2">
      <span class="pull-right"><%= image_tag("lnu.jpg") %></span>
    </div>
  </div>
  <div class="red-line"></div>
</div>